body {
    --black: #000000;
    --ash-black: #222;
    --white: #fafafa;
    --sky: #00ccff;
    --green: #22dddd;
    --blue: #1300ff;
    --dusk: #6600ff;
    --purple: #9900ff;
    --pink: #ff0066;
    --red: #fe0222;
    --orange: #fd7702;
    --yellow: #ffbb00;
    --background: var(--purple);
    --accent: var(--red);
}
#progress {
    position: fixed;
    top: 20px;
    left: 20px;
    transform: rotate(-90deg);
}

circle {
    stroke-dashoffset: 0;
    stroke-width: 15%;
    fill: none;
}

#progress .indicator {
    stroke: var(--accent);
}



.refresh path {
    fill: var(--accent);
}

.box {
    width: 200px;
    height: 200px;
    background: var(--accent);
}
